<template>
  <div>
    <v-row>
      <v-col class="offset-1">
        <h3>EuroSCORE II</h3>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Poor mobility:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="No" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Yes" value="2"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Critical preoperative state:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="No" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Yes" value="2"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Surgery on thoracic aorta:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="No" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Yes" value="2"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Pulmonary hypertension:</h4>
      </v-col>
      <v-col>
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="No" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="moderate (PA systolic 31-55 mmHg)" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Severe (PA systolic > 55 mmHg)" value="2"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "PartXI",
};
</script>
<style scoped>
input {
  border: black solid 1px;
  border-radius: 3px;
}
select {
  border: black solid 1px;
  border-radius: 3px;
}
.radios {
  padding: 0px;
}
</style>