<template>
  <div>
    <v-row>
      <v-col class="offset-1">
        <h3>Operative details</h3>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Operative urgency:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="Elective" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Urgent" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="Not Done" label="Emergency" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="Missed" label="Salvage" value="2"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Intra arortic pallon pump:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="Yes" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="No" value="2"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Cerebro-vascuar disease type:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col cols="3">
            <v-checkbox label="Anatomy" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Acute evolving MI " v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Cardiogenic shok " v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col cols="6">
            <v-checkbox label="Aortic dissection" v-model="value" value="value"></v-checkbox>
            <v-checkbox
              label="Unstaable or worsening angina / ongoing ischaemia"
              v-model="value"
              value="value"
            ></v-checkbox>
            <v-checkbox label="Pulmonary oedema" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col cols="3">
            <v-checkbox label="Valve dysfunction" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Left main CAD" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Number of previous hearth operations:</h4>
      </v-col>
      <v-col>
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radio" label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radio" label="None" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radio" label="One" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radio" label="Two" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radio" label="Three" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radio" label="Four" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radio" label="Five" value="2"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Procedure groups:</h4>
      </v-col>
      <v-col>
        <v-radio-group>
          <v-row>
            <v-col cols="2">
              <v-radio label="CAB only" value="1"></v-radio>
              <v-radio label="CAB & Other" value="2"></v-radio>
              <v-radio label="Valve only" value="3"></v-radio>
            </v-col>
            <v-col cols="3">
              <v-radio label="Valve & Ohter" value="4"></v-radio>
              <v-radio label="CAB & Valve" value="5"></v-radio>
              <v-radio label="CAB & Valve & other" value="6"></v-radio>
            </v-col>
            <v-col cols="2">
              <v-radio label=" Ohter" value="4"></v-radio>
              <v-radio label="Poor LV Function" value="5"></v-radio>
              <v-radio label="LABP" value="6"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Endartereetomy" value="4"></v-radio>
              <v-radio label="LV Aneury Smectomy or Aneury Smorrhaph" value="5"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Procedure groups(New):</h4>
      </v-col>
      <v-col cols="2">
        <v-checkbox label="CAB only" value="1"></v-checkbox>
        <v-checkbox label="CAB & Other" value="2"></v-checkbox>
        <v-checkbox label="Valve only" value="3"></v-checkbox>
      </v-col>
      <v-col cols="3">
        <v-checkbox label="Valve & Ohter" value="4"></v-checkbox>
        <v-checkbox label="CAB & Valve" value="5"></v-checkbox>
        <v-checkbox label="CAB & Valve & other" value="6"></v-checkbox>
      </v-col>
      <v-col cols="2">
        <v-checkbox label=" Ohter" value="4"></v-checkbox>
        <v-checkbox label="Poor LV Function" value="5"></v-checkbox>
        <v-checkbox label="LABP" value="6"></v-checkbox>
      </v-col>
      <v-col>
        <v-checkbox label="Endartereetomy" value="4"></v-checkbox>
        <v-checkbox label="LV Aneury Smectomy or Aneury Smorrhaph" value="5"></v-checkbox>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Type of operation:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="Onpump" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Offpump" value="2"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Other cardiac:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="No" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Yes" value="3"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Other non-cardiac:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="No" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Yes" value="3"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: "PartIX",
};
</script>
<style scoped>
input {
  border: black solid 1px;
  border-radius: 3px;
}
select {
  border: black solid 1px;
  border-radius: 3px;
}
.radios {
  padding: 0px;
}
</style>