<template>
  <div>
    <v-row>
      <v-col class="offset-1">
        <h3>Previous Interventions</h3>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Previous PCI:</h4>
      </v-col>
      <v-col>
        <v-radio-group v-model="previousPCI">
          <v-radio class="radios" label="No PCI" value="0"></v-radio>
          <v-radio class="radios" label="Pci<24 hours before surgery" value="3"></v-radio>
          <v-radio class="radios" label="PCI>24 hours before surgery; same admission" value="2"></v-radio>
          <v-radio class="radios" label="Not Known" value="1"></v-radio>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Date of last PCI:</h4>
      </v-col>
      <v-col>
        <input type="text" />
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Pervious cardiac vascular of thoracic surgery:</h4>
      </v-col>
      <v-col cols="5">
        <v-row>
          <v-col>
            <v-checkbox v-model="perviousCardiacVascularOfThoracicSurgery.missed" label="Missed"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox v-model="perviousCardiacVascularOfThoracicSurgery.none" label="None"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox v-model="perviousCardiacVascularOfThoracicSurgery.CAB" label="CAB"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox v-model="perviousCardiacVascularOfThoracicSurgery.value" label="Value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox v-model="perviousCardiacVascularOfThoracicSurgery.other" label="Other"></v-checkbox>
          </v-col>
        </v-row>

        <input type="text" />
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Date of last cardiac surgery:</h4>
      </v-col>
      <v-col>
        <input type="text" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "PartIII",
  data() {
    return {
      previousPCI: 0,
      perviousCardiacVascularOfThoracicSurgery: {
        missed: false,
        none: false,
        CAB: false,
        value: false,
        other: false,
      },
      smokingHistory: {
        radio: 0,
        packYear: 0,
        status: false,
      },
    };
  },
};
</script>
<style scoped>
input {
  border: black solid 1px;
  border-radius: 3px;
}
select {
  border: black solid 1px;
  border-radius: 3px;
}
.radios {
  padding: 0px;
}
</style>
