<template>
  <div>
    <v-row>
      <v-col class="offset-1">
        <h3>Pre-operative haemodynamics and catheterization</h3>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Left or right hearth Catheterization:</h4>
      </v-col>
      <v-col cols="8">
        <v-row align="center">
          <v-col>
            <v-checkbox label="Never" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="This admission" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Prevoius admission" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Date of last Catheterization:</h4>
      </v-col>
      <v-col>
        <input type="text" />
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Number of diseased coronary vessels:</h4>
      </v-col>
      <v-col cols="6">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio label="Missed" value="1"></v-radio>
              <v-radio label="No vessel with>50% diameter stenosis" value="2"></v-radio>
              <v-radio label="One vessel with>50% diameter stenosis" value="3"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Two vessel with>50% diameter stenosis" value="4"></v-radio>
              <v-radio label="Three vessel with>50% diameter stenosis" value="5"></v-radio>
              <v-radio label="Not Investigated" value="5"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Number of diseased coronary vessels:</h4>
      </v-col>
      <v-col cols="6">
        <v-radio-group>
          <v-radio label="Missed" value="1"></v-radio>
          <v-radio label="No LMS disease / LMS disease <=50% diameter stenosis" value="2"></v-radio>
          <v-radio label="LMS disease >50% diameter stenosis" value="3"></v-radio>
          <v-radio label="Not Investigated" value="4"></v-radio>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Ejection fraction category:</h4>
      </v-col>
      <v-col cols="8">
        <v-radio-group>
          <v-row align="center">
            <v-col>
              <v-radio label="Good>49%" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Fair 30-49%" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Poor <30%" value="3"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Not measured" value="4"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Rjection fraction value:</h4>
      </v-col>
      <v-col>
        <input type="text" />
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>PSA systolic:</h4>
      </v-col>
      <v-col>
        <input type="text" />
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>LVEDP:</h4>
      </v-col>
      <v-col>
        <input type="text" />
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>AV gradient:</h4>
      </v-col>
      <v-col>
        <input type="text" />
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Diseased vessle:</h4>
      </v-col>
      <v-col cols="8">
        <v-row align="center">
          <v-col>
            <v-checkbox label="Left Main" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="RCA" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="LAD" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="LCX" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Mean PAWP/LA:</h4>
      </v-col>
      <v-col>
        <input type="text" />
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: "PartVI",
};
</script>
<style scoped>
input {
  border: black solid 1px;
  border-radius: 3px;
}

select {
  border: black solid 1px;
  border-radius: 3px;
}

.radios {
  padding: 0px;
}
</style>