<template>
  <div>
    <v-row>
      <v-col class="offset-1">
        <h3>Drug History</h3>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="offset-2">
        <v-checkbox label="Beta Blocker"></v-checkbox>
      </v-col>
      <v-col>
        <v-checkbox label="ACE Inhibitors"></v-checkbox>
      </v-col>
      <v-col>
        <v-checkbox label="Diurectics"></v-checkbox>
      </v-col>
      <v-col>
        <v-checkbox label="Digoxin"></v-checkbox>
      </v-col>
      <v-col>
        <v-checkbox label="StatinUse"></v-checkbox>
      </v-col>
      <v-col>
        <v-checkbox label="ARB inhibitors"></v-checkbox>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="offset-2">
        <label class="mr-2" for>Equivalent Dose Of Simvastain:</label>
        <input type="text" />
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Addiction:</h4>
      </v-col>
      <v-col cols="6">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="No" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Yes" value="3"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Not known" value="4"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Last lab test:</h4>
      </v-col>
      <v-col>
        <input type="text" />
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Diabetes treatment:</h4>
      </v-col>
      <v-col cols="8">
        <v-radio-group>
          <v-row align="center">
            <v-col>
              <v-radio label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="None" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Diet" value="3"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Oral alone" value="4"></v-radio>
            </v-col>
            <v-col cols="4">
              <v-radio label="Insulin (with or without oral)" value="5"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Hypertension:</h4>
      </v-col>
      <v-col>
        <v-radio-group>
          <v-row>
            <v-col cols="8">
              <v-radio label="No hypertension" value="1"></v-radio>
              <v-radio label="Treated or BP>140/90 on>1 occasions prior to admission" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Not known" value="3"></v-radio>
              <v-radio label="Not treated" value="4"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Hypercholesterolaemia:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="No" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Yes" value="3"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="offset-2">
        <v-checkbox label="History Of Kidney DX" value></v-checkbox>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Renal:</h4>
      </v-col>
      <v-col cols="6">
        <v-row>
          <v-col>
            <v-checkbox label="None" value="1"></v-checkbox>
            <v-checkbox label="Functioning transplant" value="2"></v-checkbox>
            <v-checkbox label="Creatinine>200 u mol 1-1" value="3"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Dialysis-acute renal failure" value="4"></v-checkbox>
            <v-checkbox label="Dialysis-chronic renal failure" value="5"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>left ventricular function Ejection fraction:</h4>
      </v-col>
      <v-col cols="6">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio label="Missed" value="1"></v-radio>
              <v-radio label="good LV function>50%" value="2"></v-radio>
              <v-radio label="moderate LV function 31%-50%" value="3"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="poor LV function 21%-30%" value="4"></v-radio>
              <v-radio label="Very Poor LV function 20% or less" value="5"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Last pre-operative creatinine:</h4>
      </v-col>
      <v-col>
        <input class="mr-2" type="number" />
        <label for>u mol 1-1</label>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Last Pre-operaive Lab tests:</h4>
      </v-col>
      <v-col>
        <v-row align="center">
          <v-col>
            <v-row class="my-2">
              <label for>Hb=</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>BUN=</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>Chol(LDL)=</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>PLT=</label>
              <input style="width:80px" width="20px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>FBS=</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>Chol(HDL)=</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>WBC=</label>
              <input style="width:80px" width="20px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>Na=</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>GFR=</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <label for>K=</label>
            <input style="width:80px" type="number" name id />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Chromic lung disease:</h4>
      </v-col>
      <v-col cols="8">
        <v-radio-group>
          <v-row align="center">
            <v-col>
              <v-radio label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="No" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="COPD / Emphysema" value="3"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Asthma" value="4"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Extra-cardiac arteriopathy:</h4>
      </v-col>
      <v-col cols="8">
        <v-row align="center">
          <v-col>
            <v-checkbox label="No" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Peripheral vascular disease" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Cerebro vascular disease" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Cerebro-vascuar disease type:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col cols="2">
            <v-checkbox label="Not applicable" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Coma " v-model="value" value="value"></v-checkbox>
            <v-checkbox label="CVA " v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col cols="2">
            <v-checkbox label="RIND" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="TIA" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col cols="6">
            <v-checkbox label="Non-invasive >75% stenosis on doppler" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Previous carotid surgery" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Neurolgocial dysfunction:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="No" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Yes" value="3"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Carotid bruits:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="No" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Yes" value="3"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Pre-operative heart Rhythm:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col cols="2">
            <v-checkbox label="Missed" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Sinus thythm " v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col cols="2">
            <v-checkbox label="VT / VF" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Artia fibrillatoin / flutter" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col cols="6">
            <v-checkbox label="Complete heart block" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Other abnormal rhythm" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: "PartV",
};
</script>
<style scoped>
input {
  border: black solid 1px;
  border-radius: 3px;
}
select {
  border: black solid 1px;
  border-radius: 3px;
}
.radios {
  padding: 0px;
}
</style>