<template>
  <div>
    <v-row>
      <v-col class="offset-1">
        <h3>Valve surgery</h3>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Stenosis:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col>
            <v-row>
              <h4>Aortic valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-col>
                  <v-radio label="Missed" value="value"></v-radio>
                </v-col>
                <v-col>
                  <v-radio label="No" value="value"></v-radio>
                </v-col>
                <v-col>
                  <v-radio label="Yes" value="value"></v-radio>
                </v-col>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Miteral valvee</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-col>
                  <v-radio label="Missed" value="value"></v-radio>
                </v-col>
                <v-col>
                  <v-radio label="No" value="value"></v-radio>
                </v-col>
                <v-col>
                  <v-radio label="Yes" value="value"></v-radio>
                </v-col>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Tricuspid valvee</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-col>
                  <v-radio label="Missed" value="value"></v-radio>
                </v-col>
                <v-col>
                  <v-radio label="No" value="value"></v-radio>
                </v-col>
                <v-col>
                  <v-radio label="Yes" value="value"></v-radio>
                </v-col>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Pulmonary valvee</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-col>
                  <v-radio label="Missed" value="value"></v-radio>
                </v-col>
                <v-col>
                  <v-radio label="No" value="value"></v-radio>
                </v-col>
                <v-col>
                  <v-radio label="Yes" value="value"></v-radio>
                </v-col>
              </v-radio-group>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Stenosis:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col>
            <v-row>
              <h4>Aortic valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="None" value="value"></v-radio>
                <v-radio label="Trival" value="value"></v-radio>
                <v-radio label="Mild" value="value"></v-radio>
                <v-radio label="Moderate" value="value"></v-radio>
                <v-radio label="Severe" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Miteral valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="None" value="value"></v-radio>
                <v-radio label="Trival" value="value"></v-radio>
                <v-radio label="Mild" value="value"></v-radio>
                <v-radio label="Moderate" value="value"></v-radio>
                <v-radio label="Severe" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Tricuspid valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="None" value="value"></v-radio>
                <v-radio label="Trival" value="value"></v-radio>
                <v-radio label="Mild" value="value"></v-radio>
                <v-radio label="Moderate" value="value"></v-radio>
                <v-radio label="Severe" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Pulmonary valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="None" value="value"></v-radio>
                <v-radio label="Trival" value="value"></v-radio>
                <v-radio label="Mild" value="value"></v-radio>
                <v-radio label="Moderate" value="value"></v-radio>
                <v-radio label="Severe" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Explant type:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col>
            <v-row>
              <h4>Aortic valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Native valve" value="value"></v-radio>
                <v-radio label="Mechanical" value="value"></v-radio>
                <v-radio label="Bioprosthesis" value="value"></v-radio>
                <v-radio label="Homograft" value="value"></v-radio>
                <v-radio label="Autograft" value="value"></v-radio>
                <v-radio label="Ring" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Miteral valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Native valve" value="value"></v-radio>
                <v-radio label="Mechanical" value="value"></v-radio>
                <v-radio label="Bioprosthesis" value="value"></v-radio>
                <v-radio label="Homograft" value="value"></v-radio>
                <v-radio label="Autograft" value="value"></v-radio>
                <v-radio label="Ring" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Tricuspid valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Native valve" value="value"></v-radio>
                <v-radio label="Mechanical" value="value"></v-radio>
                <v-radio label="Bioprosthesis" value="value"></v-radio>
                <v-radio label="Homograft" value="value"></v-radio>
                <v-radio label="Autograft" value="value"></v-radio>
                <v-radio label="Ring" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Pulmonary valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Native valve" value="value"></v-radio>
                <v-radio label="Mechanical" value="value"></v-radio>
                <v-radio label="Bioprosthesis" value="value"></v-radio>
                <v-radio label="Homograft" value="value"></v-radio>
                <v-radio label="Autograft" value="value"></v-radio>
                <v-radio label="Ring" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Native valve pathology:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col>
            <v-row>
              <h4>Aortic valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Not present" value="value"></v-radio>
                <v-radio label="Congenitial" value="value"></v-radio>
                <v-radio label="Degrenerative" value="value"></v-radio>
                <v-radio label="Active endocarditis" value="value"></v-radio>
                <v-radio label="Prev endocarditis" value="value"></v-radio>
                <v-radio label="Rheumatic" value="value"></v-radio>
                <v-radio label="Anuloaortic ectasia" value="value"></v-radio>
                <v-radio label="Calcific degen'n" value="value"></v-radio>
                <v-radio label="Ischaemic" value="value"></v-radio>
                <v-radio label="Functional" value="value"></v-radio>
                <v-radio label="Other" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Miteral valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Not present" value="value"></v-radio>
                <v-radio label="Congenitial" value="value"></v-radio>
                <v-radio label="Degrenerative" value="value"></v-radio>
                <v-radio label="Active endocarditis" value="value"></v-radio>
                <v-radio label="Prev endocarditis" value="value"></v-radio>
                <v-radio label="Rheumatic" value="value"></v-radio>
                <v-radio label="Anuloaortic ectasia" value="value"></v-radio>
                <v-radio label="Calcific degen'n" value="value"></v-radio>
                <v-radio label="Ischaemic" value="value"></v-radio>
                <v-radio label="Functional" value="value"></v-radio>
                <v-radio label="Other" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Tricuspid valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Not present" value="value"></v-radio>
                <v-radio label="Congenitial" value="value"></v-radio>
                <v-radio label="Degrenerative" value="value"></v-radio>
                <v-radio label="Active endocarditis" value="value"></v-radio>
                <v-radio label="Prev endocarditis" value="value"></v-radio>
                <v-radio label="Rheumatic" value="value"></v-radio>
                <v-radio label="Anuloaortic ectasia" value="value"></v-radio>
                <v-radio label="Calcific degen'n" value="value"></v-radio>
                <v-radio label="Ischaemic" value="value"></v-radio>
                <v-radio label="Functional" value="value"></v-radio>
                <v-radio label="Other" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Pulmonary valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Not present" value="value"></v-radio>
                <v-radio label="Congenitial" value="value"></v-radio>
                <v-radio label="Degrenerative" value="value"></v-radio>
                <v-radio label="Active endocarditis" value="value"></v-radio>
                <v-radio label="Prev endocarditis" value="value"></v-radio>
                <v-radio label="Rheumatic" value="value"></v-radio>
                <v-radio label="Anuloaortic ectasia" value="value"></v-radio>
                <v-radio label="Calcific degen'n" value="value"></v-radio>
                <v-radio label="Ischaemic" value="value"></v-radio>
                <v-radio label="Functional" value="value"></v-radio>
                <v-radio label="Other" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Ressons for repeat valve surgery:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col>
            <v-row>
              <h4>Aortic valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Not applicable" value="value"></v-radio>
                <v-radio label="Thrombosis" value="value"></v-radio>
                <v-radio label="Dehiscence" value="value"></v-radio>
                <v-radio label="Embolism" value="value"></v-radio>
                <v-radio label="Infection" value="value"></v-radio>
                <v-radio label="Instrinisic failure" value="value"></v-radio>
                <v-radio label="Haemolsis" value="value"></v-radio>
                <v-radio label="Other" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Miteral valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Not applicable" value="value"></v-radio>
                <v-radio label="Thrombosis" value="value"></v-radio>
                <v-radio label="Dehiscence" value="value"></v-radio>
                <v-radio label="Embolism" value="value"></v-radio>
                <v-radio label="Infection" value="value"></v-radio>
                <v-radio label="Instrinisic failure" value="value"></v-radio>
                <v-radio label="Haemolsis" value="value"></v-radio>
                <v-radio label="Other" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Tricuspid valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Not applicable" value="value"></v-radio>
                <v-radio label="Thrombosis" value="value"></v-radio>
                <v-radio label="Dehiscence" value="value"></v-radio>
                <v-radio label="Embolism" value="value"></v-radio>
                <v-radio label="Infection" value="value"></v-radio>
                <v-radio label="Instrinisic failure" value="value"></v-radio>
                <v-radio label="Haemolsis" value="value"></v-radio>
                <v-radio label="Other" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Pulmonary valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Not applicable" value="value"></v-radio>
                <v-radio label="Thrombosis" value="value"></v-radio>
                <v-radio label="Dehiscence" value="value"></v-radio>
                <v-radio label="Embolism" value="value"></v-radio>
                <v-radio label="Infection" value="value"></v-radio>
                <v-radio label="Instrinisic failure" value="value"></v-radio>
                <v-radio label="Haemolsis" value="value"></v-radio>
                <v-radio label="Other" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Valve procedure:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col>
            <v-row>
              <h4>Aortic valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Replacement" value="value"></v-radio>
                <v-radio label="Repair" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Miteral valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Replacement" value="value"></v-radio>
                <v-radio label="Repair" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Tricuspid valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Replacement" value="value"></v-radio>
                <v-radio label="Repair" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Pulmonary valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="Replacement" value="value"></v-radio>
                <v-radio label="Repair" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Implant type:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col>
            <v-row>
              <h4>Aortic valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="None" value="value"></v-radio>
                <v-radio label="Mechanical" value="value"></v-radio>
                <v-radio label="Bioprosthesis" value="value"></v-radio>
                <v-radio label="Hornograft" value="value"></v-radio>
                <v-radio label="Autograft" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Miteral valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="None" value="value"></v-radio>
                <v-radio label="Mechanical" value="value"></v-radio>
                <v-radio label="Bioprosthesis" value="value"></v-radio>
                <v-radio label="Hornograft" value="value"></v-radio>
                <v-radio label="Autograft" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Tricuspid valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="None" value="value"></v-radio>
                <v-radio label="Mechanical" value="value"></v-radio>
                <v-radio label="Bioprosthesis" value="value"></v-radio>
                <v-radio label="Hornograft" value="value"></v-radio>
                <v-radio label="Autograft" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Pulmonary valve</h4>
            </v-row>
            <v-row>
              <v-radio-group v-model="value">
                <v-radio label="Missed" value="value"></v-radio>
                <v-radio label="None" value="value"></v-radio>
                <v-radio label="Mechanical" value="value"></v-radio>
                <v-radio label="Bioprosthesis" value="value"></v-radio>
                <v-radio label="Hornograft" value="value"></v-radio>
                <v-radio label="Autograft" value="value"></v-radio>
              </v-radio-group>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Implant code:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col>
            <v-row>
              <h4>Aortic valve</h4>
            </v-row>
            <v-row>
              <input type="text" />
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Miteral valve</h4>
            </v-row>
            <v-row>
              <input type="text" />
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Tricuspid valve</h4>
            </v-row>
            <v-row>
              <input type="text" />
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Pulmonary valve</h4>
            </v-row>
            <v-row>
              <input type="text" />
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Implant size:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col>
            <v-row>
              <h4>Aortic valve</h4>
            </v-row>
            <v-row>
              <input type="text" />
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Miteral valve</h4>
            </v-row>
            <v-row>
              <input type="text" />
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Tricuspid valve</h4>
            </v-row>
            <v-row>
              <input type="text" />
            </v-row>
          </v-col>
          <v-col>
            <v-row>
              <h4>Pulmonary valve</h4>
            </v-row>
            <v-row>
              <input type="text" />
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Duration of ICU stay:</h4>
      </v-col>
      <v-col>
        <input class="mr-2" type="number" />
        <label for>day</label>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Duration of hospital stay:</h4>
      </v-col>
      <v-col>
        <input class="mr-2" type="number" />
        <label for>day</label>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: "PartV",
};
</script>
<style scoped>
input {
  border: black solid 1px;
  border-radius: 3px;
}
select {
  border: black solid 1px;
  border-radius: 3px;
}
.radios {
  padding: 0px;
}
</style>