<template>
  <div>
    <v-row>
      <v-col class="offset-1">
        <h3>Coronary surgery</h3>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Distal Coronary Anastamoses-artrial conduits:rtrial conduits:</h4>
      </v-col>
      <v-col>
        <input type="text" />
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Distal Coronary Anastamoses-venous conduits:</h4>
      </v-col>
      <v-col>
        <input type="text" />
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>vessle which have been grafted:</h4>
      </v-col>
      <v-col>
        <v-row align="center">
          <v-col>
            <v-checkbox label="LAD branch" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Diagonal" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="RCA" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="PDA" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="PLVB" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="OM1" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="OM2" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="OM3" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Rumus" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Rv" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Artery(ies) used as grafts:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col>
            <v-checkbox label="No arteries used" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Left IMA " v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Right IMA" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Left Radial" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Right Radial" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Right GEPA" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Other artery" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="offset-1">
        <h3>Other cardiac procedures</h3>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Other Cardiac procedures details:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col>
            <v-checkbox label="None" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Left ventricular aneurysm repair " v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Ventricular septal defact repari " v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Atrial septal defact repair " v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Batista " v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="SVR" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Congentital" v-model="value" value="value"></v-checkbox>
            <v-checkbox
              label="Transmyocardial laser revascularization"
              v-model="value"
              value="value"
            ></v-checkbox>
            <v-checkbox label="Cardiac trauma" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Cardiac transplant" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Permanent pacemaker" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="AICD" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Other" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Endarterectomy" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Endarterectomize vessle:</h4>
      </v-col>
      <v-col>
        <v-row align="center">
          <v-col>
            <v-checkbox label="LAD" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Diagonal" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="RCA" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="PDA" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="PLVB" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="OM1" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="OM2" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="OM3" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="offset-1">
        <h3>Other non-cardiac procedures</h3>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Other non-cardiac procedures details:</h4>
      </v-col>
      <v-col>
        <v-row align="center">
          <v-col>
            <v-checkbox label="None" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Aorta" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Other thoracic" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Carotid endarterectomy" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Other vascular" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Segments of the aorta:</h4>
      </v-col>
      <v-col>
        <v-row align="center">
          <v-col>
            <v-checkbox label="Root" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Ascending" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Arch " v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Descending" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Abdominal" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Aortic procedure:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col cols="8">
            <v-checkbox label="Interposition tube graft" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Tube graft & seperate AVR " v-model="value" value="value"></v-checkbox>
            <v-checkbox
              label="Root replacement with composite valve grafts & coronary re-implantation "
              v-model="value"
              value="value"
            ></v-checkbox>
            <v-checkbox
              label="Root replacement with preservation or native valve & coronary re-implantation "
              v-model="value"
              value="value"
            ></v-checkbox>
            <v-checkbox label="Homograph root replacement " v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox
              label="Ross procedure fore aortic root pathology"
              v-model="value"
              value="value"
            ></v-checkbox>
            <v-checkbox label="Aortic patch graft" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Sinus of valsalva repair" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Reduction aortoplasty" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "PartX",
};
</script>

<style  scoped>
input {
  border: black solid 1px;
  border-radius: 3px;
}
select {
  border: black solid 1px;
  border-radius: 3px;
}
.radios {
  padding: 0px;
}
</style>