<template>
  <div>
    <v-row>
      <v-col class="offset-1">
        <h3>Pre-operative status and support</h3>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>IV nitrates / heparin of Any kind:</h4>
      </v-col>
      <v-col cols="8">
        <v-radio-group>
          <v-row align="center">
            <v-col>
              <v-radio label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="No" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Yes" value="3"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>IV intropes:</h4>
      </v-col>
      <v-col cols="8">
        <v-radio-group>
          <v-row align="center">
            <v-col>
              <v-radio label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="No" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Yes" value="3"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Ventilated:</h4>
      </v-col>
      <v-col cols="8">
        <v-radio-group>
          <v-row align="center">
            <v-col>
              <v-radio label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="No" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Yes" value="3"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Cardiogenic shok:</h4>
      </v-col>
      <v-col cols="8">
        <v-radio-group>
          <v-row align="center">
            <v-col>
              <v-radio label="Missed" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="No" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio label="Yes" value="3"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: "PartVI",
};
</script>
<style scoped>
input {
  border: black solid 1px;
  border-radius: 3px;
}

select {
  border: black solid 1px;
  border-radius: 3px;
}

.radios {
  padding: 0px;
}
</style>