<template>
  <div>
    <v-row>
      <v-col class="offset-1">
        <h3>Post-operative status and support</h3>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Pre-operative heart Rhythm:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col cols="3">
            <v-checkbox label="Missed" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Sinus rhythm" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="VT / VF" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col cols="3">
            <v-checkbox label="Atria fibrillation / flutter" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Complete heart block" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Other abnormal rhythm" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col cols="3">
            <v-checkbox label="PACO" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="PATO" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="P.V.C" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
        <v-row>
          <v-text-field outlined label v-model="value"></v-text-field>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Post-operation:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col cols="3">
            <v-checkbox label="Live" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="TIA" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col cols="3">
            <v-checkbox label="Dead" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="CVA" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col cols="3">
            <v-checkbox label="Compliant-Respirotur" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
        <v-row>
          <v-text-field outlined label v-model="value"></v-text-field>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>post operation lab test:</h4>
      </v-col>
      <v-col>
        <v-row>
          <label for>Creatinine</label>
          <input class="mx-2" type="number" />
          <label for>umol</label>
        </v-row>
        <v-row align="center">
          <v-col>
            <v-row class="my-2">
              <label for>Hb:</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>NA:</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>PLT:</label>
              <input style="width:80px" width="20px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>K:</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>WBC=</label>
              <input style="width:80px" width="20px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>Chol(LDL):</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>BUN:</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>Chol(HDL):</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>FBS:</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>CFR:</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>post operation lab test after 48 hour:</h4>
      </v-col>
      <v-col>
        <v-row>
          <label for>Creatinine</label>
          <input class="mx-2" type="number" />
          <label for>umol</label>
        </v-row>
        <v-row align="center">
          <v-col>
            <v-row class="my-2">
              <label for>Hb:</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>NA:</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>PLT:</label>
              <input style="width:80px" width="20px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>K:</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>WBC=</label>
              <input style="width:80px" width="20px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>Chol(LDL):</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>BUN:</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>Chol(HDL):</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>FBS:</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>CFR:</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>post operation lab test after 48 hour:</h4>
      </v-col>
      <v-col>
        <v-row>
          <label for>Creatinine</label>
          <input class="mx-2" type="number" />
          <label for>umol</label>
        </v-row>
        <v-row align="center">
          <v-col>
            <v-row class="my-2">
              <label for>Hb:</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>NA:</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>PLT:</label>
              <input style="width:80px" width="20px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>K:</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>WBC=</label>
              <input style="width:80px" width="20px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>Chol(LDL):</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>BUN:</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>Chol(HDL):</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
          <v-col>
            <v-row class="my-2">
              <label for>FBS:</label>
              <input style="width:80px" type="number" />
            </v-row>
            <v-row class="my-2">
              <label for>CFR:</label>
              <input style="width:80px" type="number" />
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="1">
        <h4>Post operation treatment:</h4>
      </v-col>
      <v-col>
        <v-row align="center">
          <v-col>
            <v-checkbox label="Amidaron" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Carvedilol" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Sotalol" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Mexitil" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Zylocaine" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Digoxine" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Cardioversion" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Propafenon" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Duration of Intubation:</h4>
      </v-col>
      <v-col>
        <input class="mr-2" type="number" />
        <label for>Hour+min</label>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Cardiopulmonary:</h4>
      </v-col>
      <v-col>
        <input class="mr-2" type="number" />
        <label for>min</label>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Aortic Cross clamping duration:</h4>
      </v-col>
      <v-col>
        <input class="mr-2" type="number" />
        <label for>min</label>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>LABP:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="Yes" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="No" value="2"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Extra-cardiac arteriopathy:</h4>
      </v-col>
      <v-col cols="8">
        <v-row align="center">
          <v-col>
            <v-checkbox label="During Operation" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col>
            <v-checkbox label="Post Operation" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2" class="text-end">
        <h4>Family Hx:</h4>
      </v-col>
      <v-col>
        <v-row>
          <v-col cols="2">
            <v-checkbox label="پدر" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="مادر " v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col cols="4">
            <v-checkbox label="برادر - خواهر" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="پدربزرگ مادربزرگ عمو عمه دائی خاله" v-model="value" value="value"></v-checkbox>
          </v-col>
          <v-col cols="2">
            <v-checkbox label="None" v-model="value" value="value"></v-checkbox>
            <v-checkbox label="Missed" v-model="value" value="value"></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Family HX of AF:</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="Yes" label="Yes" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="No" label="No" value="2"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Exercise Tolerance Test (ETT):</h4>
      </v-col>
      <v-col cols="4">
        <v-radio-group>
          <v-row>
            <v-col>
              <v-radio class="radios" label="+Ve" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="-Ve" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="Not Done" label="-Ve" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="Missed" label="-Ve" value="2"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: "PartVII",
};
</script>
<style scoped>
input {
  border: black solid 1px;
  border-radius: 3px;
}

select {
  border: black solid 1px;
  border-radius: 3px;
}

.radios {
  padding: 0px;
}
</style>