<template>
  <div>
    <v-row>
      <v-col class="offset-1">
        <h3>Pre-operative risk factor</h3>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Weight:</h4>
      </v-col>
      <v-col>
        <input
          v-model="weight.n"
          @change="weight.status = check(0,200,weight.n)"
          v-bind:class="{redError : weight.status}"
          min="0"
          max="200"
          class="mr-1"
          type="number"
        />
        <label v-bind:class="{redError : weight.status}" for>kg</label>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-end" cols="2">
        <h4>Height:</h4>
      </v-col>
      <v-col>
        <input
          v-model="height.n"
          @change="height.status = check(0,250,height.n)"
          v-bind:class="{redError : height.status}"
          min="0"
          max="250"
          class="mr-1"
          type="number"
        />
        <label v-bind:class="{redError : height.status}">cm</label>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Smoking History:</h4>
      </v-col>
      <v-col>
        <v-radio-group v-model="smokingHistory">
          <v-row>
            <v-col>
              <v-radio class="radios" label="Missed" value="0"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Never smoked" value="1"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Ex-smoker(<=1 month)" value="2"></v-radio>
            </v-col>
            <v-col>
              <v-radio class="radios" label="Curent smoker" value="3"></v-radio>
            </v-col>
          </v-row>
        </v-radio-group>
        <v-rwo>
          <input
            v-model="smokingHistory.packYear"
            @change="existBad = smokingHistory.status = check(0,100,smokingHistory.packYear)"
            v-bind:class="{redError : smokingHistory.status}"
            max="100"
            min="0"
            class="mr-1"
            type="number"
          />
          <label v-bind:class="{redError : smokingHistory.status}">(pack-year) {{existBad}}</label>
        </v-rwo>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col class="text-end" cols="2">
        <h4>Drug HX:</h4>
      </v-col>
      <v-col>
        <v-checkbox label="Asprine"></v-checkbox>
        <v-checkbox label="Nitrocontin"></v-checkbox>
        <v-checkbox label="Atorvastatin"></v-checkbox>
        <v-checkbox label="Simvastatin"></v-checkbox>
        <v-checkbox label="Lovastatin"></v-checkbox>
        <v-checkbox label="Propranolol"></v-checkbox>
        <v-checkbox label="Atenolol"></v-checkbox>
      </v-col>
      <v-col>
        <v-checkbox label="Carvedilol"></v-checkbox>
        <v-checkbox label="Sotalol"></v-checkbox>
        <v-checkbox label="Metoral"></v-checkbox>
        <v-checkbox label="Lasatan"></v-checkbox>
        <v-checkbox label="Nifedipine"></v-checkbox>
        <v-checkbox label="Diltiazem"></v-checkbox>
        <v-checkbox label="Amlodipine"></v-checkbox>
      </v-col>
      <v-col>
        <v-checkbox label="Prazocine"></v-checkbox>
        <v-checkbox label="Captopril"></v-checkbox>
        <v-checkbox label="Enalapril"></v-checkbox>
        <v-checkbox label="Metformine"></v-checkbox>
        <v-checkbox label="Plavix"></v-checkbox>
        <v-checkbox label="Pmepazole"></v-checkbox>
        <v-checkbox label="Isosorbide"></v-checkbox>
      </v-col>
      <v-col>
        <v-checkbox label="Gemfibrozil"></v-checkbox>
        <v-checkbox label="Digoxine"></v-checkbox>
        <v-checkbox label="Lasix"></v-checkbox>
        <v-checkbox label="Aldactone"></v-checkbox>
        <v-checkbox label="Triamteren-H"></v-checkbox>
        <v-checkbox label="Glibenclamide"></v-checkbox>
        <v-checkbox label="Verapamil"></v-checkbox>
      </v-col>
      <v-col>
        <v-checkbox label="Acrbose"></v-checkbox>
        <v-checkbox label="Warfarin"></v-checkbox>
        <v-checkbox label="Ranitidine"></v-checkbox>
        <v-checkbox label="Diazepam"></v-checkbox>
        <v-checkbox label="Oxazepam"></v-checkbox>
        <v-checkbox label="Pravastatin"></v-checkbox>
        <v-checkbox label="Rosuvastatin"></v-checkbox>
      </v-col>
    </v-row>
    <v-col cols="6" class="offset-2">
      <v-text-field
        height="100px"
        class="text_fild"
        label="other:"
        placeholder="other drugh HX..."
        outlined
      ></v-text-field>
    </v-col>
  </div>
</template>

<script>
import { checkMixin } from "../mixins/checkMixin";
export default {
  mixins: [checkMixin],
  name: "PartIV",
  data() {
    return {
      existBad: true,
      weight: {
        n: 0,
        status: false,
      },
      height: {
        n: 0,
        status: false,
      },
      smokingHistory: {
        radio: 0,
        packYear: 0,
        status: false,
      },
    };
  },
};
</script>
<style scoped>
input {
  border: black solid 1px;
  border-radius: 3px;
}
select {
  border: black solid 1px;
  border-radius: 3px;
}
.radios {
  padding: 0px;
}
</style>