<template>
  <v-app>
    <v-main class="back">
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
// import HelloWorld from "./components/HelloWorld";

export default {
  name: "App",

  // components: {
  //   PartIII,
  // },

  data: () => ({
    //
  }),
};
</script>

<style scoped>
.back {
  background: rgb(238, 238, 238);
}
</style>


